/* import font packages */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

body {
  display: block;
  margin: inherit;
  font-family: "Barlow", sans-serif;
  Font size: 18px
}

h1,
h2, h3, h4, a{
  font-family: "Fraunces", serif;
}

h1 {
  font-size: 5em;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  color: white;
  padding-top: 8rem;
  text-align: center;
}

h2 {
  font-size: 3em;
}

p {
line-height: 2rem;
color: gray;
}


/* header styling */
header {
  display: inline-block;
}

#myHeader {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("images/desktop/image-header.jpg");
  background-position: center;
}

/* navigation styling */
nav {
  margin-top: 2rem;
}

nav li a {
  padding: 1rem;
  font-family: "Barlow", sans-serif;
  color: white;
  text-decoration: none;
}

nav li a:hover{
  font-family: "Fraunces", serif;
  border-radius: 25px;
  color: white;
  background-color:rgba(255, 255, 255, 0.5)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: "Barlow", sans-serif;
  /* padding: 1rem 1rem 1rem 1rem; */
  margin: 0rem 2.4rem 1rem 1rem;
  float: right;
  display: inline;
}

#arrow {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* create column layout */

.row {
  display: flex;
}


.column {
  float: left;
  width: 50%;
}

.column2 {
  padding: 1rem;
  float: left;
  width: 33%;
}


.column3 {
  float: left;
  width: 25%;
}

.column a{
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: -3px;
}

.column img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#subsection, #subsection2{
  padding: 8rem;
}

#subsection2 {
    width: 100%;
    height:100%;
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
}

#subsection3 {
margin: 28rem 8rem 4rem 8rem;
text-align: center;
}

#subsection3 h3 {
  font-size: 2em;
  opacity: 0.6;
  }

#socialBanner {
  text-align: center;
margin: 8rem;
  }

#users {
  margin: 4rem 0rem 4rem 0rem;
  border-radius: 100%;
  }

/* subsection 3's background image */

.cherry {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.orange {
  background-image: url("images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* footer */

footer{
  background-color:rgba(69, 140, 126, 0.699);
  padding: 10rem;
}

footer img {
  color: blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
